mark{color: var(--purple);}

/* 없음 문구 */
[data-none]::after{content: '없음'; color: var(--dark-5); text-indent: 0;}

/* 폼 */
form{width: 100%;}
input{box-sizing: border-box; outline: none;}
input::placeholder{color: var(--dark-5);}
/* li:has(button){position: relative;} */
button:is(.password, .valueDelete){display: none; width: var(--iconWidth); aspect-ratio: 1; background-repeat: no-repeat; background-position-x: left; background-position-y: top; background-size: 100%; text-indent: -9999px;}
button:is(.password, .valueDelete).active{display: block;}
button.password{background-image: url('../images/icon-password.png');}
button.valueDelete{background-image: url('../images/icon-delete.png');}
button.password.show{background-position-y: calc(var(--iconWidth) * -1);}
.errorMessage{display: none; font-size: 16px; font-weight: 500; color: var(--red); margin-top: 16px;}

/* 회원, 관리자 등록 폼 */
.manageForm legend{font-size: 32px; line-height: 36px; font-weight: 700; margin-bottom: 60px;}
.manageForm ul{display: flex; flex-wrap: wrap; justify-content: space-between; row-gap: 48px;}
.manageForm ul li{width: 492px; font-size: 20px;}
.manageForm ul li > label{display: block; font-weight: 700; line-height: 24px; color: var(--dark-4); margin-bottom: 8px;}
.manageForm ul li > div{--height: 52px; display: flex; align-items: center; border-bottom: 1px solid var(--dark-6);}
.manageForm ul li > div input:not(:is([type="radio"], [type="checkbox"])){flex: 1; width: 100%; height: var(--height); font-weight: 500; line-height: 28px; border: none;}
.manageForm ul li > div input:not(:is([type="radio"], [type="checkbox"])):disabled{color: var(--dark-4); background-color: transparent;}
.manageForm ul li > div:not(.error):has(input:not(:disabled):focus){border-color: var(--dark-1);}
.manageForm ul li > div input[type="radio"]{display: none;}
.manageForm ul li > div input[type="radio"] + label{line-height: var(--height); display: flex; align-items: center; cursor: pointer;}
.manageForm ul li > div input[type="radio"] + label::before{--width: 24px; content: ''; width: var(--width); aspect-ratio: 1; background-image: url('../images/icon-radio.png'); background-repeat: no-repeat; background-position-x: 0; background-position-y: 0; background-size: 200%; margin-right: 8px;}
.manageForm ul li > div input[type="radio"] + label:hover::before{background-position-y: calc(var(--width) * -1);}
.manageForm ul li > div input[type="radio"]:checked + label::before{background-position-y: calc(var(--width) * -2 );}
.manageForm ul li > div input[type="radio"] + label:not(:last-of-type){margin-right: 40px;}
.manageForm ul li > div input[type="radio"]:disabled + label{color: var(--dark-4);}
.manageForm ul li > div input[type="radio"]:disabled + label::before{background-position-x: calc(var(--width) * -1);}
.manageForm ul li > div .buttonArea{display: flex; align-items: center; margin-left: auto; gap: 8px;}
.manageForm ul li > div .buttonArea > button{flex-shrink: 0;}
.manageForm ul li > div .buttonArea > button:not(.valueDelete){font-size: 16px; font-weight: 400; width: 54px; height: 32px; border: 1px solid var(--dark-6); border-radius: 30px;}
.manageForm ul li > div .buttonArea > button:not(.update){display: none;}
.manageForm ul li > div .buttonArea > button:hover{border-color: var(--dark-2);}
.manageForm ul li > div .buttonArea > button:active{background-color: var(--hover);}
.manageForm ul li > div.error{border-bottom: 1px solid var(--red);}
.manageForm ul li > div.error + small{display: block;}
.manageForm ul li > div.error .valueDelete{display: block;}
.manageForm ul li > div.update .buttonArea button:not(.valueDelete){display: block;}
.manageForm ul li > div.update .buttonArea button.update{display: none;}
.manageForm ul li > div.update.error .buttonArea .confirm{display: none;}
.manageForm small{display: none; font-size: 16px; font-weight: 400; line-height: 20px; color: var(--red); margin-top: 8px;}
.manageForm small.active{display: block;}
.manageForm .finBtn{display: flex; justify-content: flex-end; align-items: center; gap: 16px; margin-top: 48px;}


/* 팝업 */
body:has([class*="popup"].active){overflow: hidden;}
[class*="popup"]{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); justify-content: center; align-items: center; z-index: 101;}
[class*="popup"].active{display: flex;}
.popup > div{width: 414px; padding: 32px; box-sizing: border-box; background-color: white; border-radius: var(--borderRadius);}
.popup > div strong{display: block; font-size: 24px; font-weight: 700; line-height: 36px; margin-bottom: 12px;}
.popup > div p{font-size: 20px; font-weight: 400; line-height: 28px; color: var(--dark-4);}
.popup > div p:last-of-type{margin-bottom: 64px;}
.popup > div div{display: flex; justify-content: flex-end; align-items: center; gap: 16px;}
.popup-regist > div{background-color: white; width: 1112px; padding: 40px; box-sizing: border-box; border-radius: 20px; position: relative;}
.popup-regist > div > button[data-popupOpen="close"]{position: absolute; right: 40px; top: 40px; width: 36px; aspect-ratio: 1; background: url('../images/icon-x.png') no-repeat center / cover; text-indent: -9999px;}


/* 버튼 */
[class^="btn"]{display: inline-block; height: 48px; font-size: 20px; font-weight: 500; text-align: center; padding-inline: 24px; border-radius: 10px; cursor: pointer; box-sizing: border-box; background-color: transparent;}
[class^="btn"]:not(input, button){display: inline-flex; justify-content: center; align-items: center;}
.btn-basic{/* line-height: 44px; */ border: 1px solid var(--dark-5);}
.btn-basic:not(:disabled):hover{border-color: var(--dark-2);}
.btn-basic:not(:disabled):active{background-color: var(--hover);}
.btn-basic:disabled{color: var(--dark-5);}
:is(.btn-purple, .btn-red){/* line-height: 48px; */ color: white;}
:is(.btn-purple, .btn-red):disabled{background-color: var(--dark-6); color: white;}
.btn-purple:not(:disabled){background-color: var(--purple); border: 1px solid var(--purple);}
.btn-red:not(:disabled){background-color: var(--red); border: 1px solid var(--red);}
.btn-purple:not(:disabled):hover{background-color: var(--purple-dark); border: 1px solid var(--purple-dark);}
.btn-red:not(:disabled):hover{background-color: var(--red-dark); border: 1px solid var(--red-dark);}


/* 페이지 가로 크기 */
[class*="Page"]{width: var(--contentWidth); margin-inline: auto; margin-block: 60px;}
/* 로그인 페이지 */
.signInPage{max-width: 392px;}

/* 페이지 서브 타이틀 */
[class*="Page"]{--titleMarginBottom: 60px;}
[class*="Page"] h2{ font-size: 32px; font-weight: 700; line-height: 36px;}
[class*="Page"] > h2{margin-bottom: var(--titleMarginBottom);}
/* 페이지 서브 타이틀 - 이전 페이지 이동 */
[class*="Page"] h2.back a{display: flex; align-items: center; cursor: pointer;}
[class*="Page"] h2.back a::before{content: ''; --width: 36px; width: var(--width); aspect-ratio: 1; background-image: url('../images/icon-back.png'); background-repeat: no-repeat; background-position-x: 0; background-position-y: 0; background-size: 100%; margin-right: 12px;}
[class*="Page"] h2.back a:hover::before{background-position-y: calc(var(--width) * -1);}
/* 페이지 서브 타이틀 - 드랍박스 */
[class*="Page"] .titleBox{display: flex; align-items: center; margin-bottom: var(--titleMarginBottom);}
[class*="Page"] .titleBox .dropBox{position: relative;}
[class*="Page"] .titleBox :is(.dropBox > button , p){font-size: 32px; font-weight: 400; line-height: 36px; display: flex; align-items: center;}
[class*="Page"] .titleBox :is(.dropBox > button , p)::before{content: ''; width: 1px; height: 20px; background-color: var(--dark-5); margin-inline: 12px;}
[class*="Page"] .titleBox .dropBox > button::after{content: ''; --width: 36px; width: var(--width); aspect-ratio: 1; background-image: url('../images/icon-more.png'); background-repeat: no-repeat; background-position-x: left; background-position-y: 0; background-size: 100%; margin-left: 8px;}
[class*="Page"] .titleBox .dropBox:has( div.active ) button::after,
[class*="Page"] .titleBox .dropBox button:hover::after{background-position-y: calc(var(--width) * -1);}
[class*="Page"] .titleBox .dropBox div{display: none; position: absolute; left: 12px; top: calc(100% + 10px); width: 261px; background-color: white; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); padding: 12px 20px; border-radius: var(--borderRadius); box-sizing: border-box; z-index: 1;}
[class*="Page"] .titleBox .dropBox div.active{display: block;}
[class*="Page"] .titleBox .dropBox div :is(button, a){display: block; width: 100%; font-size: 20px; font-weight: 400; line-height: 68px; text-align: left; padding-inline: 16px; box-sizing: border-box;}
[class*="Page"] .titleBox .dropBox div :is(button, a):not(:last-of-type){border-bottom: 1px solid var(--dark-6);}
[class*="Page"] .titleBox .dropBox div :is(button, a).active{color: var(--purple);}
[class*="Page"] .titleBox .dropBox div :is(button, a):hover{background-color: var(--hover);}
[class*="Page"] .titleBox:has(.infoBox){flex-wrap: wrap;}
[class*="Page"] .titleBox .infoBox{width: 100%; display: flex; align-items: center; margin-top: 20px;}
[class*="Page"] .titleBox .infoBox span{font-size: 20px; font-weight: 400; line-height: 20px; color: var(--dark-4); display: flex; align-items: center;}
[class*="Page"] .titleBox .infoBox span:not(:last-child)::after{content: ''; width: 2px; height: 12px; background-color: var(--dark-6); margin-inline: 12px;}

/* 안내 텍스트 */
.guideText{font-size: 20px; font-weight: 500; line-height: 76px; color: var(--dark-4); text-align: center; background-color: var(--dark-7); border-radius: var(--borderRadius); margin-bottom: 60px;}

/* 게시판 */
.boardBox{font-size: 20px; line-height: 60px; text-align: center;}
.boardBox :is(.boardTitle, ol li){display: flex;}
.boardBox :is(.boardTitle, ol li) div input[type="checkbox"]{display: none;}
.boardBox > ol li > *{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.boardBox .boardTitle{font-weight: 700; background-color: var(--dark-7); border-width: 1px 0; border-style: solid; border-color: var(--dark-3);}
.boardBox ol{font-weight: 400; color: var(--dark-2);}
.boardBox ol li{border-bottom: 1px solid var(--dark-6);}
.boardBox ol li:hover{background-color: var(--hover);}
.boardBox ol li div a{opacity: 0; transition: 0.5s opacity; width: 52px; line-height: 30px; font-size: 16px; background-color: white; border: 1px solid var(--dark-6); border-radius: 30px;}
.boardBox ol li:hover div a{opacity: 1;}
.boardBox ol li:hover div a:hover{border-color: var(--dark-2);}
.boardBox ol li:hover div a:active{background-color: var(--hover);}
.boardBox :is(.boardTitle, ol li) div:has(input[type="checkbox"]){display: flex; justify-content: center; align-items: center;}
.boardBox :is(.boardTitle, ol li) div input[type="checkbox"] + label{ --width: 24px; width: var(--width); aspect-ratio: 1; background-image: url('../images/icon-checkbox.png'); background-repeat: no-repeat; background-position-x: 0; background-position-y: 0; background-size: 300%;}
.boardBox :is(.boardTitle, ol li) div input[type="checkbox"] + label:hover{background-position-y: calc(var(--width) * -1);}
.boardBox :is(.boardTitle, ol li) div input[type="checkbox"]:checked + label{background-position-x: calc(var(--width) * -1);}
.boardBox :is(.boardTitle, ol li) div input[type="checkbox"]:disabled + label{background-position-x: calc(var(--width) * -2);}

/* 페이저 */
.pagerBox{--gap: 16px; display: flex; justify-content: center; align-items: center; gap: var(--gap); margin-top: 48px;}
.pagerBox a{--width: 44px; width: var(--width); aspect-ratio: 1;}
.pagerBox > a{background-image: url('../images/icon-pager.png'); background-position-x: left; background-position-y: calc(var(--width) * var(--styleIdx) * -1); background-size: 300%; text-indent: -9999px;}
.pagerBox > a.active{background-position-x: calc(var(--width) * -1);}
.pagerBox > a.active:hover{background-position-x: calc(var(--width) * -2);}
.pagerBox ol{display: flex; gap: var(--gap);}
.pagerBox ol li{}
.pagerBox ol li a{font-size: 16px; font-weight: 500; color: var(--dark-3); border-radius: 5px; display: flex; align-items: center; justify-content: center; box-sizing: border-box;}
.pagerBox ol li:hover a{border: 1px solid var(--dark-1);}
.pagerBox ol li.active a{background-color: var(--dark-1); color: white;}



/* 해더 */
header{position: sticky; top: 0; border-bottom: 1px solid var(--dark-6); padding-top: 32px; background-color: white; z-index: 100;}
header > div{width: var(--contentWidth); margin-inline: auto; display: flex; align-items: center; justify-content: space-between;}
header > div h1{width: 95px;}
header > div h1 a img{width: 100%;}
header :is(nav ul, div div){display: flex; justify-content: center; align-items: center; color: #999;}
header :is(nav ul li a, div div *){display: block; font-size: 16px; font-weight: 500; line-height: 60px; padding-inline: 12px;}
header > div nav ul{gap: 20px;}
header > div nav ul li:hover a{color: black;}
header > div nav ul li:is(.active/* , :hover */) a{color: var(--purple);}
header > div nav ul li.active a{position: relative;}
header > div nav ul li.active a::after{content: ''; position: absolute; left: 0; bottom: -1px; width: 100%; height: 3px; background-color: var(--purple);}
header > div div p::after{content: ' 님';}
header > div div *:not(:first-child){position: relative;}
header > div div *:not(:first-child)::before{content: ''; position: absolute; left: -0.5px; top: 50%; transform: translateY(-50%); width: 1px; height: 0.75em; background-color: var(--dark-5);}
header > div div button{color: var(--red);}


/* 로딩 */
.loading{display: none; position: fixed; inset: 0; background-color: rgba(0, 0, 0, 0.4); z-index: 102; flex-direction: column; justify-content: center; align-items: center;}
body:has(.loading.active){overflow: hidden;}
.loading.active{display: flex;}
.loading svg{fill: var(--purple); width: 100px; aspect-ratio: 1; animation-name: loadingAni; animation-duration: 1s; animation-timing-function: linear; animation-iteration-count: infinite;}
@keyframes loadingAni {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.loading p{font-size: 20px; line-height: 28px; font-weight: 500; color: white;}
