/* 로그인 페이지 */
.signInPage{height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.signInPage h1{max-width: 280px; margin-bottom: 112px;}
.signInPage h1 img{width: 100%;}
.signInPage fieldset{font-weight: 500;}
.signInPage fieldset input{width: 100%;}
.signInPage fieldset ul{}
.signInPage fieldset ul li{}
.signInPage fieldset ul li:not(:last-child){margin-bottom: 16px;}
.signInPage fieldset ul li input{font-size: 20px; height: 60px; padding-inline: 20px; border: 1px solid var(--dark-5); border-radius: 15px;}
.signInPage fieldset ul li input.error{border: 1px solid var(--colorError);}
.signInPage fieldset ul li input.error ~ .valueDelete{display: block;}
.signInPage fieldset ul li input.error ~ .password{display: none;}
.signInPage fieldset ul:has(.error) + p{display: block;}
.signInPage fieldset input[type="submit"]{font-size: 24px; height: 72px; border: none; border-radius: 15px; margin-top: 140px; color: white; background-color: var(--purple);}
.signInPage fieldset input[type="submit"]:hover{background-color: var(--purple-dark);}
.signInPage fieldset input[type="submit"]:disabled{color: var(--dark-5); background-color: var(--dark-7);}


/* 운동등록 페이지 */
.exercisePage{}
.exercisePage strong{display: block; font-size: 24px; font-weight: 700; line-height: 36px; margin-bottom: 8px;}
.exercisePage p{font-size: 20px; font-weight: 400; line-height: 28px; margin-bottom: 48px;}
.exercisePage > label:first-of-type{margin-bottom: 24px;}
.exercisePage input[type="file"]{display: none;}
.exercisePage table{display: block; width: 100%; font-size: 20px; font-weight: 500; color: var(--dark-3); line-height: 28px; border: 1px solid var(--dark-6); border-radius: var(--borderRadius); overflow: hidden;}
.exercisePage table thead{display: block; background-color: var(--dark-7);}
.exercisePage table :is(thead, tbody:has(tr td:nth-child(2))){padding: 12px;}
.exercisePage table :is(thead, tbody:has(tr td:nth-child(2))) tr{display: flex;}
.exercisePage table :is(thead, tbody:has(tr td:nth-child(2))) tr *:nth-child(3){margin-left: auto;}
.exercisePage table :is(thead, tbody:has(tr td:nth-child(2))) tr *:nth-child(n + 3):not(:last-child){margin-right: 48px;}
.exercisePage table thead tr *:nth-child(1),
.exercisePage table tbody:has(tr td:nth-child(2)) tr *:nth-child(1) button{width: 24px; aspect-ratio: 1; background: url('../images/icon-x.png') no-repeat center / cover; text-indent: -9999px; margin-right: 16px;}
.exercisePage table tbody:has(tr td:nth-child(2)){color: var(--dark-1);}
.exercisePage table :is(thead, tbody:has(tr td:nth-child(2))) tr *:nth-child(n + 3){width: 120px; text-align: center;}
.exercisePage table tbody{display: block;}
.exercisePage table tbody tr{display: block;}
.exercisePage table tbody tr td[rowspan="5"]{display: block; padding-block: 18px; text-align: center;}
.exercisePage table tbody tr td:nth-child(2){display: flex; align-items: center;}
.exercisePage table tbody tr td:nth-child(2)::after{content: ''; width: var(--iconWidth); aspect-ratio: 1; background-image: url('../images/icon-upload.png'); background-position-x: left; background-position-y: top; background-size: 100%; margin-left: 8px;}
.exercisePage table tbody tr.fail td:nth-child(2)::after{background-position-y: calc(var(--iconWidth) * -1);}
.exercisePage > button:last-of-type{display: block; margin-top: 48px; margin-left: auto;}


/* 회원관리 페이지 */
[class^="member"][class$="Page"] .searchArea{margin-bottom: 40px; position: relative;}
[class^="member"][class$="Page"] .searchArea input{font-size: 24px; font-weight: 400; width: 100%; height: 68px; padding-inline: 24px 68px; border: 1px solid var(--dark-6); border-radius: var(--borderRadius);}
[class^="member"][class$="Page"] .searchArea input::placeholder{color: var(--dark-5);}
[class^="member"][class$="Page"] .searchArea button{position: absolute; right: 24px; top: 50%; transform: translateY(-50%); width: 36px; aspect-ratio: 1; background: url('../images/icon-search.png') no-repeat center / cover; text-indent: -9999px;}
[class^="member"][class$="Page"] .searchArea div{position: absolute; top: 100%; left: 0; width: 100%; padding-block: 16px; background-color: white; border-radius: 0 0 var(--borderRadius) var(--borderRadius); box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);}
[class^="member"][class$="Page"] .searchArea div:not(:has(ul)){display: none;}
[class^="member"][class$="Page"] .searchArea div ul li{display: flex; align-items: center; padding: 16px 32px; cursor: pointer;}
[class^="member"][class$="Page"] .searchArea div ul li:hover{background-color: var(--hover);}
[class^="member"][class$="Page"] .searchArea div ul li::before{content: ''; width: 36px; aspect-ratio: 1; background: url('../images/icon-search.png') no-repeat center / cover; margin-right: 16px;}
[class^="member"][class$="Page"] .searchArea div ul li span{font-size: 20px; line-height: 24px; display: flex; align-items: center;}
[class^="member"][class$="Page"] .searchArea div ul li span::after{content: ''; width: 2px; height: 16px; background-color: var(--dark-6); margin-inline: 16px;}
[class^="member"][class$="Page"] .searchArea div ul li span:first-of-type{font-weight: 500;}
[class^="member"][class$="Page"] .searchArea div ul li span:not(:first-of-type){font-weight: 400; color: var(--dark-4);}
[class^="member"][class$="Page"] .boardBox :is(.boardTitle, ol li) > *{flex: 149px;}


/* 회원관리 - 신규등록 */
.memberRegistPage ul{display: flex; justify-content: center; align-items: center; gap: 48px;}
.memberRegistPage ul li{text-align: center;}
.memberRegistPage ul li a{width: 300px; height: 406px; padding: 24px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); border-radius: var(--borderRadius); border: 3px solid transparent; box-sizing: border-box;}
.memberRegistPage ul li a::before{content: ''; display: block; --width: 32px; width: var(--width); aspect-ratio: 1; margin-inline: auto; background-image: url('../images/icon-checkbox.png'); background-repeat: no-repeat; background-position-x: left; background-position-y: var(--width); background-size: 100%; margin-bottom: 12px;}
.memberRegistPage ul li a::after{content: ''; display: block; --height: 204px; width: 206px; height: var(--height); margin-inline: auto; background-image: url('../images/img-regist.png'); background-repeat: no-repeat; background-position-x: left; background-position-y: calc(var(--height) * var(--styleIdx) * -1); background-size: 100%;}
.memberRegistPage ul li a small{display: block; font-size: 16px; font-weight: 400; line-height: 20px; color: var(--dark-4); margin-bottom: 12px;}
.memberRegistPage ul li a strong{display: block; font-size: 20px; font-weight: 700; line-height: 24px; margin-bottom: 38px;}
.memberRegistPage ul li:hover a{border-color: var(--purple);}
.memberRegistPage ul li:hover a::before{background-position-y: 0;}
.memberRegistPage ul li.active a{border-color: var(--purple-dark);}
.memberRegistPage ul li.active a::before{background-position-y: calc(var(--width) * -1);}